@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}