:root {
	--clr-white: rgba(255, 255, 255, 1);
	--clr-black: rgba(0, 0, 0, 1);

	--clr-green: rgba(4, 108, 78, 1);
	--clr-green-trans: rgba(4, 108, 78, 0.2);
	
	--clr-red: rgba(200, 30, 30, 1);
	--clr-red-trans: rgba(200, 30, 30, 0.2);
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	display: flex;

	font-family: monospace;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	
	padding: 5px 15px;
	border-radius: 5px;
}

.sidebar {
	width: 400px;
}

.alert {

	margin: 5px;
	padding: 5px;

	border-radius: 5px;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.alert-green {

	color: var(--clr-green);
	background: var(--clr-green-trans);
	
	border: solid 2px var(--clr-green);
}

.alert-red {

	color: var(--clr-red);
	background: var(--clr-red-trans);
	
	border: solid 2px var(--clr-red);
}

.alert button {
	color: white;
	font-weight: 600;
}

.alert-green button {
	
	background-color: var(--clr-green);
}

.alert-red button {
	
	background-color: var(--clr-red);
}


.form {

	margin: 5px;

	display: flex;
	flex-direction: column;
	gap: 5px;
}


input[type=text], input[type=password] {
	
	padding: 10px 10px;

	border: solid 1px var(--clr-black);
	border-radius: 5px;
}


.canvas-section {
	max-width: 300px;
	display: flex;
	flex-direction: column;
}



input[type="color"] {
	appearance: none;
	-webkit-appearance: none;
	border: none;
	border-radius: 10px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: 0px;
	border-radius: 5px;
}